


html, body {
    margin: 0;
    padding: 0;
    background-image: url("./resources/wyspa.png");
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.main {
    height: 100%;
    min-width: 900px;
}

.home {
    background: linear-gradient(to bottom, #0d49a3, #041835);
    margin-left: 5%; 
    margin-right: 5%;
    height: 1500px; 
    margin-top: 20px;
    border-radius: 30px;
}

/*--- Podświetlane guziki --- */

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    justify-content: center;
    padding: 30px;
}
.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .btn button {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover button {
	letter-spacing: 3px;
}
.container .btn button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover button::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*chanage 1*/
.container .btn:nth-child(1)::after {
	background: #da1960;
	box-shadow: 0 0 5px #da1960, 0 0 15px #da1960, 0 0 30px #da1960,
		0 0 60px #da1960;
}
.container .btn:nth-child(2)::before, /* 2*/
.container .btn:nth-child(2)::after {
	background: #2798da;
	box-shadow: 0 0 5px #2798da, 0 0 15px #2798da, 0 0 30px #2798da,
		0 0 60px #2798da;
}
.container .btn:nth-child(3)::before, /* 3*/
.container .btn:nth-child(3)::after {
	background: #92a815;
	box-shadow: 0 0 5px #92a815, 0 0 15px #92a815, 0 0 30px #92a815,
		0 0 60px #92a815;
}

/*--- Podświetalne guziki 2 --- */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Poprawiono wartość dla justify-content */
    padding: 30px;
  }
  
  .container .btn2,
  .container .btn3,
  .container .btn4 {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .btn2 button,
  .container .btn3 button,
  .container .btn4 button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 400px;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(15px);
    letter-spacing: 3px;
  }
  
  .container .btn2 button {
    background: #2798da;
    box-shadow: 0 0 5px #2798da, 0 0 15px #2798da, 0 0 30px #2798da, 0 0 60px #2798da;
  }
  
  .container .btn3 button {
    background: #da1960;
    box-shadow: 0 0 5px #da1960, 0 0 15px #da1960, 0 0 30px #da1960, 0 0 60px #da1960;
  }
  
  .container .btn4 button {
    background: #92a815;
    box-shadow: 0 0 5px #92a815, 0 0 15px #92a815, 0 0 30px #92a815, 0 0 60px #92a815;
  }
  

/*--- Podświetlane guziki --- */

/*--- Guziki nagłówka --- */

.button-special {
    --border: 5px;    /* the border width */
    --slant: 0.7em;   /* control the slanted corners */
    --color: #37E8FC; /* the color */
    
    height: 70px;
    margin:30px;
    font-size: 35px;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    background: 
       linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
       linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
      0 0 0 200px inset var(--s,#0000),
      0 0 0 var(--border) inset var(--color);
    clip-path: 
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
               );
    transition: color var(--t,0.3s), background-size 0.3s;
  }
  .button-special:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
  }
  .button-special:hover,
  .button-special:active{
    background-size: 100% 100%;
    color: #fff;
    --t: 0.2s 0.1s;
  }
  .button-special:active {
    --s: #0005;
    transition: none;
  }


  /*-- Guzik nagłówka podświetlony --*/

  .button-special2 {
    --border: 5px;    /* the border width */
    --slant: 0.7em;   /* control the slanted corners */
    --color: #37E8FC; /* the color */
    
    height: 70px;
    margin:30px;
    font-size: 35px;
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #37E8FC;  /* Set background color */
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
      0 0 0 200px inset var(--s,#0000),
      0 0 0 var(--border) inset var(--color);
    clip-path: 
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
               );
}

/*--- Guziki nagłówka --- */

/*--- Strona porfilu --- */


.profile {
    background-color: rgb(255, 255, 255);
    margin-left: 15%; 
    margin-right: 15%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile p {
    margin: 10px 0;
    font-size: 16px;
}

.profile p:first-child {
    margin-top: 0;
}

.profile p:last-child {
    margin-bottom: 0;
}

/*--- Strona profilu --- */

.header {
    display: flex;
    justify-content: right;
    align-items: center;

    padding: 20px;
    text-align: center;
    background:  #0a6150ce;
    color: white;
    font-size: 30px;
    height: 4.5rem;
    width: 98%;
    min-width: 900px;
  }

.header .log-button:disabled {
    background-color: rgb(181, 180, 180);
    color: rgb(189, 42, 90);
}


/*--- Stopka --- */

.footer {
    padding: 20px;
    position: relative;
    bottom: 0px;
    width: 98%;
    height: 5.5rem;
    background-color: rgba(202, 196, 196, 0.781);
    margin-top: 20px;
  }

/*--- Stopka --- */

/*--- backtotop --- */

a {
	color: #4CAF50;
	text-decoration-style: solid;
	text-decoration-thickness: 6px;
	text-decoration-color: #4CAF50;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-to-top {
	place-self: end;
	position: sticky;
	margin-top: 50px;
	bottom: 2.7em;
	right: 2em;
    left: 30px;
}

#back-to-top {
	min-width: 35px;
	height: 35px;
	border-radius: 50%;

	display: grid;
	place-items: center;

	text-decoration: none;
	background-color:#2446b6;
	box-shadow: 0 0.6em 1em 0.2em #0e2d92;
	transform: translateY(0%);
	transition: ease-out 200ms;
	transition-property: transform, background-color;
}

#back-to-top:hover {
	transform: translateY(-22%);
	background-color: #0a2375;
}

#back-to-top::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 200%;
	transform: translateY(-30%);
	background-color: rgba(0, 0, 0, 0);
	display: block;
}

/*--- backtotop --- */


.home .annocuements {
    padding: 20px;
}

/*--- Strony z ogłoszeniami --- */

.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 0; 
    margin: 10; 
}

.pagination li {
    display: inline-block; 
    margin: 0; 
    padding: 0; 
}

.pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
}


.pagination button.active {
    background-color: #a0a0a0;
    font-weight: bold;
}

/*--- Strony z ogłoszeniami --- */
  
/*-------- Auth Modal --------*/
.auth-modal {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: rgb(129, 126, 126);
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon {
    float: right;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}


/* Resetowanie stylów dla tabeli */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

/* Nagłówek tabeli */
thead {
    background-color: #f5f5f5; /* Lekko szary kolor */
}

/* Stylowanie komórek nagłówka */
th {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd; /* Granica dolna dla komórek */
}

/* Stylowanie komórek ciała tabeli */
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Lekka granica dolna dla komórek */
    color: white;
}


/* Stylowanie wierszy tabeli na najechanie */
tbody tr:hover {
    background-color: #727272; /* Lekko szary kolor podświetlenia na najechanie */
}

/* Stylowanie przycisku w komórce */
.ApplyButton {
    background-color: #007bff; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s; /* Efekt przejścia dla koloru tła */
    float: right;
    margin-right: 3px;
}

.ApplyButton:hover {
    background-color: #0056b3; /* Ciemniejszy kolor tła przycisku po najechaniu */
}

/* Dodawanie ogłoszenia */

.createAnnoucement {
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.createAnnoucement label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.createAnnoucement input[type="text"],
.createAnnoucement input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 15px;
    background-color: #f9f9f9;
    transition: border-color 0.35s ease-in-out;
}

.createAnnoucement input[type="text"]:focus,
.createAnnoucement input[type="url"]:focus {
    outline: 0;
    border-color: #bd8200;
}

.createAnnoucement input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #f0a500;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.createAnnoucement input[type="submit"]:hover {
    background-color: #e59800;
}

.photo-container {
    margin-top: 20px;
    text-align: center;
}

.photo-container img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.addAnnoucement {
    padding: 30px;
}


/* Dodawanie ogłoszenia */


/* Chat */


.chat-container {
    float:right;
    width: 65%;
    max-width: 1200px; 
    margin: 30px;

    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .chat-display {
    max-height: 800px; 
    overflow-y: auto; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .chat-display div {
    margin: 10px;
    padding: 5px;
  }
  
  .chat-display h4 {
    margin: 0;
    color: #333;
    font-size: 16px;
  }
  
  .chat-display p {
    margin: 0;
    padding-left: 10px;
    color: #555;
    font-size: 14px;
  }
  
  /* Chat Input */
  .chat-input {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .chat-input textarea {
    width: 98%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical; 
  }


  /*-------- ShowDetails --------*/
.details {
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: rgb(129, 126, 126);
    border-radius: 10px;
    padding: 40px;
}

.UserChatInfo {
    float:left;
    width: 25%;
    padding: 30px;
    color: white;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.loading {
    padding-top:50px;
    padding-left:30px;
    color: white;
}
  